  body {
    overflow-x: hidden;
  /*  line-height: 1.5;*/
    background: $default-white url("../images/bg-body.png") repeat scroll 0px 0px;
  }
  /* Header Style Starts*/
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-header{
    margin-top: 17px;
    width: 100%;
  }

  .navbar {
    margin-bottom: 0;
  }
  /*Setting margin-top of navbar to match old one*/
  .navbar.container, .navbar.container-fluid {
    margin-top: 0px;
    clear: both;
    display: block;
  }
  .logo {
    margin-right: 10px;
    & img {
      max-width: 35% !important;
      float:right;
      margin-top:30px;
      position:relative;
    }
  }
  .name-and-slogan {
    float: left;
    line-height: 1.2;
    & h1 {
      line-height: 1.25;
      font-weight: bold;
    }
  }
  .site-name {
    font-family: $font-name;
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    & a, &a:hover,&a:focus,&a:active{
      color: $charcoal-black;
      text-decoration: none;
    }
  }
  .site-slogan {
    font-size: $font-size-0;
    margin: 0 0 10px 0;
    padding: 0;
    /*text-align: right;*/
    text-transform: uppercase;
  }
  /* Header Style Ends*/

  /* Menu Item Style Starts*/
  .menubar{
    background: url(../images/bg-nav.gif) 0 0 repeat-x #282a2c;
    border-radius: $border-radius-size;
    margin: 15px 0;
    position: relative;
    z-index: 499;
   /* max-height: 47px;*/
    margin-bottom: 10px;
  }
  .usermenu{
    background: url(../images/bg-nav.gif) 0 0 repeat-x #282a2c;
    border-radius: $border-radius-size;
    /*margin: 15px 0;*//* margin: 15px -15px;*/ /*removing margins to keep two menus at place.*/
    position: relative;
    z-index: 499;
   /* max-height: 47px;*/
    margin-bottom: 10px;
  }
  /* Menu Item Style Ends*/

  /*MainPage Style Starts*/
  .col-sm-3{
    display: block;
    float: left;
  }

  /*Removing Bootstrap default-search-icon*/
  .btn {
    background: $btn-black;
    cursor: pointer;
    color: $default-white;
    &:hover, &:active, &:focus{
      background: $btn-hover-red;
      color: $default-white;
    }
  }
  .btn-success, .btn-default {
    border: none;
    & .icon {
      display: none;
      }
  }
  /*.btn-submit {
    background: $btn-black;
    color: $default-white;
    border-radius: 3px;
    &:hover, &:active, &:focus{
    background: $btn-hover-red;
    color: $default-white;
    }
    float:right;
  }
  .input-group .form-control {
    width:60%;
  }*/

  .well {
   padding: 10px 30px 10px 10px;
  }

  .well-lg{
    background: $default-white;
    border: 1px solid $border-faint-gray;
    /*padding:0px;*/
    /*change here to change the h1's*/
    .page-header {
        font-family: $font-name;
        font-weight: normal;
        /*margin: 0 0 10px;*/
        margin:10px 0 0px 20px;
        line-height: 1.25;
        font-size: $font-size-2;
        padding-bottom: 0px;
        border-bottom: none;
    }
    /*change here to change the h2's*/
    .pane-title {
      font-family: $font-name;
      font-weight: normal;
      line-height: 1.25;
      margin: 1em 0 .5em;
      font-size: $font-size-1;
    }

    .panel-grid{
      border-radius: $border-radius-size;
      border: 1px solid $panel-border;
      padding: 10px;
      width:108%; /*Giving this width as of now to fit contents of panel grid as per the view.--Chirag*/
     /* height:475px;*/
      & h2 {
        font-family: $font-name;
        font-size: $font-size-1;
        font-weight: normal;
        line-height: 1.25;
        margin: 0 0 10px;
        color: $panel-header-text;
        a {
          &,&:visited {
            color:$charcoal-black;
            text-decoration: none;
          }
        &:hover {
          color: $article-hover-red;
          text-decoration: none;
        }
      }
    }
  }

  /*setting up the styles for the headers on main content*/
  .region-content{
    margin:0;/*padding-left: 20px;*/
    & .block-system{
      padding:20px;
      }
    }
    .region .node-teaser h2{
      color: $charcoal-black;
      font-family: $font-name;
      font-size: $font-size-2;
      font-weight: normal;
      margin: 0 0 10px;
      a {
        &,&:visited {
          color:$charcoal-black;
          text-decoration: none;
        }
        &:hover {
        color: $article-hover-red;
        text-decoration: none;
        }
      }
    }

  /*Adding readmore GIF to the Read More Anchors*/
    .views-field-view-node a {
      background: url(../images/ico-readmore.gif) no-repeat 0 2px;
      color: $charcoal-gray;
      display: inline-block;
      font-size: $font-size-0;
      padding-left: 18px;
      &:hover {
        color: $charcoal-black;
        text-decoration: none;
      }
    }
    .views-field-title a {
      color:$charcoal-black;
      &:hover{
        color: $btn-hover-red;
      }
    }
    .node-readmore  a {
        background: url(../images/ico-readmore.gif) 0 0px no-repeat;
        color: $charcoal-gray;
        padding-left: 18px;
        &:hover {
          color:$anchor-red;
          text-decoration: none;
        }
    }
    .comment-add  a {
        background: url(../images/ico-comment.gif) 0 5px no-repeat;
        color: $charcoal-gray;
        padding-left: 18px;
        &:hover {
          color:$anchor-red;
          text-decoration: none;
        }
    }
   .blog_usernames_blog  a,  .comment-comments  a, .comment ul.links li a {
         background: $btn-black;
         color: $default-white;
         display: inline-block;
         padding: 4px 10px;
         vertical-align: middle;
         margin-right: 1em;
         border-radius: 3px;
         &:hover,&:active,&:focus{
         background: $btn-hover-red; color: $default-white;
         text-decoration: none;
         }
    }
    .node{
      border-bottom: 1px dotted $border-gray;
      margin-bottom: 15px;
      padding-bottom: 15px;
       & .field-type-image {
        background: $default-white;
        float: left;
        margin-bottom: 10px;
        margin-right: 15px; 
         & img {
          border: 1px solid $border-gray;
          padding: 4px;
          border-radius: $border-radius-size;
          }
        }
        & .submitted {
          color: $dark-gray;
          font-size: $font-size-0;
          line-height: 1;
          padding: 0 0 $font-size-1;
          font-style:normal; 
        }
        & footer {
          margin-top: 1.5em;
        }
        & .list-inline li{
          border-right: 1px dotted $border-gray;
          margin: 0 0.455em 0 0;
          padding: 0 0.5em 0 0.455em;
          display: inline;
          &.last{
            border-right: none;
            }
        }
    }
    .region-sidebar-first{
      margin:0;
      & .block {
      border-radius: $border-radius-size;
      margin-bottom: 15px;
      position: relative;
      border: 1px solid $border-gray;
      padding: 10px;  /* margin: 0;*/
      width: 108%;/*Giving this width as of now to fit contents of sidebar as per the view.--Chirag*/
      & .block-title {
        background: url(../images/bg-2.gif) 0 0 repeat;
        color: $default-white;
        font-family: $font-name;
        font-size: 1.16em;
        font-weight: normal;
        line-height: 19px;
        margin: -10px -10px 10px -10px;
        padding: 6px 10px;
        text-transform: uppercase;
        border-radius: 3px;
      }
    } 
    & .block-views { 
      & .views-row{
        border-bottom: 1px dotted $border-gray;
        overflow: hidden;
        padding: 10px 0;
      }
      & .views-row-last {
        border-bottom: none;
        }
      }
  }

  .article > .submitted {
      color: $dark-gray;
      font-size: $font-size-0;
      line-height: 1;
      padding: 0 0 $font-size-1;
  }
  .field-type-taxonomy-term-reference {
    margin-bottom: 1em;
    & a, & ul li a {
      border: 1px dotted $border-gray;
      color: $charcoal-black;
      display: inline-block;
      padding: 1px 10px;
      border-radius: 3px;
      &:hover, &:active, &:focus {
        background: $charcoal-black;
        border: 1px solid $charcoal-black;
        color: $default-white;
        text-decoration: none;
      }
    }
  }

  .comment-wrapper{
    border-top: 1px dotted $border-gray;
    margin-top: 1.5em;
    padding-top: 1.5em;
    & > h2:first-child {
      border-top:0;
      padding-top: 0;
    }
    & > h2{
      font-family: $font-name;
      font-weight: normal;
      margin-bottom: 1em;
      margin-top: 0;
      text-transform: uppercase;
      font-size: $font-size-1;
      line-height: 1.25;
    }
    & .comment{
      border: 1px solid $border-gray;
      margin-bottom: 1.5em;
      padding: 15px;
      border-radius: $border-radius-size;
      &.comment-title a ,& h3 a {
        color:$charcoal-black;
        text-decoration: none;
        &:hover,&:active,&:focus{
          color: $btn-hover-red;
          text-decoration: underline;
        }
      }
      & > .footer{
        color: #666;
        font-size: $font-size-0;
        margin: .5em 0 1em;
      }
    }
  }

  }/*end of well-lg class*/
  /* MainPage Style Ends*/

  /*Footer Style Starts*/
  .footer-grid{
    background: url(../images/bg-2.gif) 0 0 repeat;
    padding: 0;
    border-bottom-left-radius: $border-radius-size;
    border-bottom-right-radius: $border-radius-size;
    margin-bottom: 10px;
    & .block{
      float:right;
      margin: 0;
      position: relative;
      margin-bottom: 10px;
    }
    & .footer-breadcrumb{
    border-top: 1px dotted $footer-breadcrumb-border;
    font-size: $font-size-0;
    margin: 0 10px;
    padding: 10px 0;
    position: relative;
    & a.btn-footer{
    background: $footer-breadcrumb-bg;
    color: $footer-breadcrumb-text;
    float: right;
    line-height: normal;
    padding: 3px 10px;
    border-radius: $border-radius-size;
    &:hover, &:active, &:focus{
      color: $default-white;
      background: #a11300;
    }
    }
    }
  }

  .region-footer{
    border-top: 1px dotted #717578;
    margin: 20px 10px;
    padding: 15px 0;
    font-size: $font-size-0;
    position: relative;
    & a{
    color: #bbbdbf;
    text-decoration: underline;
    border: 0;
    margin: 0;
    padding: 0;
    }
    & .rteright{
    text-align: right;
  }
  }
  /*Modifying few footer prime styles to match Roswell*/
  .footer{
    margin-top: 0px;
    padding-top: 0px;
  }
  /*Footer Style Ends*/




  /*Adding media queries to responsive layout*/
  /* Setting navbar width to match old one */
  @media screen and (min-width: 768px) {
    .navbar.container {
      max-width: 750px; 
      }
    }
  @media screen and (min-width: 992px) {
    .navbar.container {
      max-width: 970px;
    }

  }
  @media screen and (min-width: 1200px) {
    .navbar.container {
      max-width: 1170px;
    }
  }
  /*For extra small devices with width < than 768px*/
  @media (max-width: $screen-xs-max) {
    .logo img {
      max-width: 300px !important;
      float: left;
      position:relative;
      margin-bottom: 10px;
      margin-top: -15px;
    }
    .well-lg {
      & .panel-grid {
        width:100%;
        & h2{
          font-family: Arial, Helvetica, sans-serif !important;
        }
      }
      & .region-sidebar-first .block{
        width: 100%;
      }
      & .region .node-teaser h2{
        font-family: Arial, Helvetica, sans-serif !important;
        font-weight: bold;
      }
      .node .field-type-image {
        float: none;
        margin-right: 0;
        & img{
          width:100%;
        }
      }
    }
    .menubar{
      padding: 10px 0;
    }

    #block-superfish-1, #block-superfish-2 {
      & .sf-menu.sf-style-space li{
      float: left;
    }
    }
    ul.sf-menu.sf-accordion li{
      width: unset;
    }
  }
  /*For small devices with width >= than 768px and < than 992px*/
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .well-lg {
      & .panel-grid {
        width:100%;
        & h2{
          font-family: Arial, Helvetica, sans-serif !important;
        }
      }
      & .region-sidebar-first .block{
        width: 50%;
        float:left;
      }
      & .region .node-teaser h2{
        font-family: Arial, Helvetica, sans-serif !important;
        font-weight: bold;
      }
    }
  }
  /*For medium devices with width >= than 992px and < than 1200px*/
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .well-lg {
      & .panel-grid {
        width:100%;
        & h2{
          font-family: Arial, Helvetica, sans-serif !important;
        }
      }
      & .region-sidebar-first .block{
        width: 100%;
        }
      & .region .node-teaser h2 {
        font-family: Arial, Helvetica, sans-serif !important;
        font-weight: bold;
      }
    }
  }
  @media (max-width: $screen-md-max){
    .col-md-12, .col-sm-6, .col-xs-12{
      padding-top: 10px;
    }
    .well {
      padding: 10px;
    }
  }
  @media (max-width: $screen-sm-max){
    .third-col{
      clear: both;
    }
  }