/*Modifying Superfish's space.css style's according to Roswell Styles.--Chirag*/

#block-superfish-1,#block-superfish-2{
.sf-menu.sf-style-space {
		float: left;
		margin: 0;
		padding: 0;
}

.sf-menu.sf-style-space {
	& ul {
		border-radius: 0;
		padding-left: 0;
	}
	& li {
		background: url(../images/bg-line-nav.gif) 0 0 no-repeat;
		display: block; 
		margin: 0;
		padding: 0 0 0 2px;
		&:first-child {
			background: none;
			padding-left: 0;
		}
		& a:hover, & a:focus, & a:active, & a.active{
			background: url(../images/bg-nav-active.gif) 0 0 repeat-x $superfish-hover;
			color: $default-white;
		}
	}
	& a {
		color: #d9d9d9;
  		font-family: $font-name;
 		font-size: 1.083em;
  		line-height: 21px;
  		padding: 12px 25px;
  		text-decoration: none;
  		text-transform: uppercase;
  		border: none;	/*removes default border of zircons's space.css*/
  	}
  	& ul {
  		background: #2c2f2f;
  		border: 5px solid $superfish-hover;
  		margin-left: 2px;
  		margin-top: 15px;
  		& ul {
  		margin-left: 0;
  		margin-top: 0;
  		}
	  	& li {
  		background: none;
  		border-top: 1px solid #444;
  		margin: 0;
  		padding: 0;
  		& a {
  			background: none;
  			color: #aaa;
  			font-family: Arial, Helvetica, sans-serif;
  			font-size: 100%;
  			line-height: normal;
  			padding: 8px 10px;
  			text-transform: none;
  		}
  		&:hover li a, & li a{
  			color: #aaa;
  		}
  		& a.active, & li a.active{
  			background: none;
  			color: $default-white !important;
  		}
  		}
		& li:first-child {
		border-top: none;
		}
  	}

	& li.active-trail ul a.active-trail, & ul li a:hover, & ul li a:focus, & ul li a:active, & ul li a:active, & ul li a.active{
		background: none;
		color: $default-white;
	}
	& > a.active, & > .active-trail .sf-depth-1{
		background: url(../images/bg-nav-active.gif) 0 0 repeat-x $superfish-hover;
		color: $default-white;
	}
	/*& ul li a.active, & ul li li a.active{
		background: none;
		color: $default-white !important;
	}*/
}

div.sf-accordion-toggle{
	text-align: center;
	&.sf-style-space{
		& a{
		background: none;
		border: none;
		color: $default-white;
		font-family: $font-name;
		font-size: 1.083em;
		padding: 10px 0;
		text-transform: uppercase;
		text-decoration: none;
		&.sf-expanded{
			background-color: transparent;
			color:$superfish-hover;
			font-weight: normal;
		}
		}
		& .sf-menu.sf-style-space.sf-accordion{
			& li.sf-expanded {
				background-color: transparent;
				color:$superfish-hover;
			}
			& li.sf-expanded > a, & li.sf-expanded > span.nolink {
				font-weight: normal;
				color:$superfish-hover;
			}

		}

	}
}
/*& div.sf-accordion-toggle.sf-style-space a.sf-expanded,
.sf-menu.sf-style-space.sf-accordion li.sf-expanded {
  background-color: #008ad2;
}*/
/*& div.sf-accordion-toggle.sf-style-space a.sf-expanded,
.sf-menu.sf-style-space.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-space.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}*/
/*removed unwanted navbar styles..*/

/*ul.sf-navbar {
  padding-bottom: 0 !important;
}

.sf-menu.sf-style-space.sf-navbar {
  width: 100%;
}*/

/*.tb-sf-navbar #menu-bar-wrapper .grid-inner {
  background: url(../images/bg-subnav.gif) 0 100% repeat-x;
  padding-bottom: 35px;
}
*/
/*.sf-menu.sf-style-space.sf-navbar ul {
  background: none;
  border: none;
  margin: 0;
  padding: 22px 0 0 0;
}

.sf-menu.sf-style-space.sf-navbar ul > li {
  border-right: 1px solid #ccc;
  border-top: none;
  padding: 0 15px;
}

.sf-menu.sf-style-space.sf-navbar ul > li.last {
  border-right: none;
}

.sf-menu.sf-style-space.sf-navbar ul li a {
  background: none;
  color: #333 !important;
  padding: 3px 10px;
}*/

/*.sf-menu.sf-style-space.sf-navbar ul li a:hover,
.sf-menu.sf-style-space.sf-navbar ul li a:focus,
.sf-menu.sf-style-space.sf-navbar ul li a:active,
.sf-menu.sf-style-space.sf-navbar ul li .active {
  color: $btn-hover-red !important;
}

.sf-menu.sf-style-space.sf-navbar ul > li li {
  border-right: none;
  border-top: 1px solid #444;
}

.sf-menu.sf-style-space.sf-navbar ul > li li.first {
  border-top: none;
}

.sf-menu.sf-style-space.sf-navbar ul ul {
  background: $default-white;
  border: #ddd solid 1px;
  margin: -2px 0 0 0;
  padding: 0 25px;
}

.sf-menu.sf-style-space.sf-navbar ul ul li {
  border-top: 1px dotted $border-grey;
  padding: 0;
}

.sf-menu.sf-style-space.sf-navbar ul ul li:first-child {
  border-top: none;
}

.sf-menu.sf-style-space.sf-navbar ul ul li a {
  color: #333 !important;
  padding: 7px 0;
}*/

/*.sf-menu.sf-style-space.sf-navbar ul li.menuparent:hover > a,
.sf-menu.sf-style-space.sf-navbar ul ul li a:hover,
.sf-menu.sf-style-space.sf-navbar ul ul li a:active,
.sf-menu.sf-style-space.sf-navbar ul ul li a:focus,
.sf-menu.sf-style-space.sf-navbar ul ul li a.active {
  color: $btn-hover-red !important;
}

.sf-menu.sf-style-space span.sf-description {
  color: #999;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}

.sf-menu.sf-style-space a.sf-with-ul {
  padding-right: 2.25em;
}

.sf-menu.sf-style-space.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}*/


}